# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.*
**/*.tfplan
**/crash.log

# Overrides
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
